numpy<2
rdkit
streamlit
crewai
transformers~=4.53.1
requests~=2.32.4
pillow
pubchempy
pytest
openai
python-dotenv~=1.1.1
pydantic~=2.11.7
smilite
selfies
chembl_webresource_client
deepchem
adme-py
wikipedia
pytest-asyncio
seaborn
matplotlib
pyTDC
scikit-learn==1.0.2
torch