numpy<2
rdkit~=2025.3.3
streamlit
crewai~=0.140.0
crewai_tools
transformers~=4.53.1
requests~=2.32.4
pillow
pubchempy
pytest
openai
python-dotenv~=1.1.1
torch~=2.7.1
pydantic~=2.11.7
smilite
selfies
chembl_webresource_client
deepchem
adme-py
wikipedia
pytest-asyncio